4.1) Pandas DataSeries:

i)Write a Pandas program to create and display a one-dimensional array-like object
containing an array of data using Pandas module.

In [1]:
import pandas as pd
import numpy as np

s = pd.Series([1, 3, 5, np.nan, 6, 8])
print("Pandas Series:")
print(s)

Pandas Series:
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

ii)Write a Pandas program to convert a Panda module Series to Python list and it's typ–µ.

In [2]:
import pandas as pd
import numpy as np

list_from_series = s.tolist()

print("Python list from Series:")
print(list_from_series)

print("Type of the list:")
print(type(list_from_series))

Python list from Series:
[1.0, 3.0, 5.0, nan, 6.0, 8.0]
Type of the list:
<class 'list'>

4.2) Pandas DataFrames:
Consider Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily','Michael',
'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f, 'g', 'h', 'i, j]

i)Write a Pandas program to create and display a DataFrame froma specified dictionary
data which has the index labels.

In [3]:
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
                      'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

ii)Write a Pandas program to change the name 'James' to 'Suresh' in name column of the
DataFrame.

In [4]:
df['name'] = df['name'].replace('James', 'Suresh')

print("\nDataFrame after changing 'James' to 'Suresh':")
print(df)

DataFrame after changing 'James' to 'Suresh':
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

iii)Write a Pandas program to insert a new column in existing DataFrame.

In [5]:
df['city'] = ['London', 'Paris', 'New York', 'London', 'Sydney', 'Paris', 'New York', 'London', 'Sydney', 'Paris']

print("\nDataFrame after adding 'city' column:")
print(df)

DataFrame after adding 'city' column:
        name  score  attempts qualify      city
a  Anastasia   12.5         1     yes    London
b       Dima    9.0         3      no     Paris
c  Katherine   16.5         2     yes  New York
d     Suresh    NaN         3      no    London
e      Emily    9.0         2      no    Sydney
f    Michael   20.0         3     yes     Paris
g    Matthew   14.5         1     yes  New York
h      Laura    NaN         1      no    London
i      Kevin    8.0         2      no    Sydney
j      Jonas   19.0         1     yes     Paris

iv)Write a Pandas program to get list from DataFrame column headers.

In [6]:
column_headers = df.columns.tolist()

print("List of DataFrame column headers:")
print(column_headers)

List of DataFrame column headers:
['name', 'score', 'attempts', 'qualify', 'city']

v)Write a Pandas program to get list from DataFrame column headers.

In [7]:
column_headers = df.columns.tolist()

print("List of DataFrame column headers:")
print(column_headers)

List of DataFrame column headers:
['name', 'score', 'attempts', 'qualify', 'city']